<ion-header mode = 'md'>
  <ion-toolbar>
    <ion-title color = light>Chat - {{ usuarioLogado.nome }}</ion-title>
    <ion-label></ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding id="content-end">

  <ion-card mode = 'ios' *ngFor="let mensagem of mensagens">
    <ion-card-header>
    <ion-card-title>{{mensagem.nome}} diz:</ion-card-title>
    </ion-card-header>
    <ion-card-content id="textoMensagem"> {{mensagem.mensagem}} </ion-card-content>
    <ion-card-content id="horaMensagem"> {{mensagem.hora}} </ion-card-content>

  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar id="toolbar-footer">
    <ion-input class="campos-enviar-mensagem" placeholder="Digite sua mensagem..." [(ngModel)]="mensagem"></ion-input>
    <ion-buttons slot="end">
      <!-- <button ion-button icon-right (click)="sendMessage()"> -->
        <ion-icon class="campos-enviar-mensagem" name="send" (click)="sendMessage()"></ion-icon>
      <!-- </button> -->
    </ion-buttons>
  </ion-toolbar>

  
  
</ion-footer>
