<body>
  <div class="campos-Cad">
    <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
    <div class="superior">
      <h1>Cadastro</h1>
      <img src="../../../assets/svg/logo.svg" alt="" class="logo">
    </div>
    <ion-rom>
      <ion-col>
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos" position="floating">Nome</ion-label>
          <ion-input type='text'></ion-input>
        </ion-item>
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos" position="floating">Nascimento</ion-label>
          <!-- <ion-input type='text'></ion-input> -->
          <ion-datetime class="label-campos" placeholder="Selecione a data"></ion-datetime>
        </ion-item>
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos" position="floating">E-mail:</ion-label>
          <ion-input type='Email'></ion-input>
        </ion-item>
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos" position="floating">Senha:</ion-label>
          <ion-input type='password'></ion-input>
        </ion-item>
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos" position="floating">Confirmar senha:</ion-label>
          <ion-input type='password'></ion-input>
        </ion-item>
      </ion-col>
    </ion-rom>
  </div>

  <div class="footer ">
    <a href="/LoginPage" class='linksBotoes'>
      <button class="bt-logar">Cadastrar</button>
    </a>
  </div>
</body>