<body>
  <div class="campos-Cad">
    <div class="superior">
      <h1>localizados</h1>
      <img src="../../../assets/svg/logo.svg" alt="" class="logo">
    </div>
    <ion-rom>
      <ion-col>

        <ion-slides>

          <ion-slide> 
            <div class="slide">
              <h2 class='nomePet'>Cachorro 01 </h2>
              <img class="photoPet" src="../../../assets/photos/c/01.png" />
              <p class="DescPet">Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <h2 class='nomePet'>Cachorro 02</h2>
              <img class="photoPet" src="../../../assets/photos/c/02.png" />
              <p class="DescPet">Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <h2 class='nomePet'>Cachorro 03</h2>
              <img class="photoPet" src="../../../assets/photos/c/03.png" />
              <p class="DescPet">Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <h2 class='nomePet'>Cachorro 04</h2>
              <img class="photoPet" src="../../../assets/photos/c/04.png" />
              <p class="DescPet">Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
            </div>
          </ion-slide>
          
          <ion-slide>
            <div class="">
              <h2 class='nomePet'>FOFUXO</h2>
              <img class="photoPet" src="../../../assets/photos/c/FOFUXO.png" />
              <p class="DescPet">Fofuxo é um cão que foi resgatado. Antes ele estava em um estado deplorável.</p>
            </div>
          </ion-slide>
        </ion-slides>

      </ion-col>
    </ion-rom>
  </div>

  <div class="footer ">
    <a href="/" class='linksBotoes'>
      <button class="bt-logar">Voltar</button>
    </a>
  </div>
</body>