// ion-tab-button {
//   background-color: var(--pp-bordas);
//   padding-top: .5rem;
//   }

// ion-label,
// ion-icon {
//   color: var(--pp-preto);
// }

// ion-label {
//   font-size: 10px;
// }

// #img-tabs {
//   width: 1.6rem;
//   margin-top: .1rem;
// }

// .icones{
//   margin-top: -.3rem;
// }

ion-tab-button {
  background-color: var(--pp-bgTabs);
  padding-top: .3rem;
  // background-color: var(--pp-bg2);
}

ion-label,
ion-icon {
  color: var(--pp-branco);
}

ion-label {
  font-size: 10px;
}

.img-tabs {
  width: 1.8rem;
  // margin-top: .1rem;
}

.img-chat {
  width: 1.9rem;
}

.icones{
  margin-top: -.3rem;
}

.chat {
  padding-bottom: .2rem;
}

