ion-tab-bar,
ion-tab-button {
  background-color: var(--pp-bgTabs);
  // background-color: var(--pp-bg2);
}

ion-label,
ion-icon {
  color: var(--pp-branco);
}

ion-tab-button:hover {
  color: var(--pp-azul);
}

img {
  width: 1.4rem;
  fill: green;
}

