ion-tab-bar,
ion-tab-button {
  background-color: var(--pp-bgTabs);
  // background-color: var(--pp-bg2);
}

ion-label,
ion-icon {
  color: var(--pp-branco);
}

ion-tab-button:hover {
  color: var(--pp-azul);
}


ion-label {
  font-size: 10px;
}

#img-tabs {
  width: 1.6rem;
  margin-top: .1rem;
}

.icones{
  margin-top: -.3rem;
}