body {
    background-image: linear-gradient(var(--pp-bg), var(--pp-bg2));    
    height: 100%;
}

.campos-Cad {
    background-color: var(--pp-preto);
    border-radius: 40px;
    margin: 0 10px;
    height: 85%;
    margin-top: 30px;
}

.superior {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

h1{
    color: var(--pp-branco);
    border-bottom: 5px solid var(--pp-azul);
    border-radius: 5px;
    padding-top: 15px;
}

.logo {
    width: 80px;
}

.label-campos {
    color: var(--pp-branco);
    font-size: 15px;
    padding-top: 5px;
}

.label-branco {
    color: var(--pp-branco);
    font-size: 15px;
    padding-top: 5px;
    // background: #FF6870;
}

.inputIcons {
    margin-left: -10px;
    height: 25px;
    padding-bottom: 10px;
}

ion-button {
    color: black;
    font-weight: bold;
    --background: var(--pp-bg);
    width: 80%;
    margin-left: 10%;
    margin-top: 1.5rem;
}



.padding-inferior{
    margin-bottom: 20px ;
}

#namoro {
    --background: var(--pp-cinza);
    --background-checked: var(--pp-bg);
}

ion-datetime {
    color: white;
    font-size: 1rem;
    margin-top: .5rem;
}

.iputNome {
    margin-top: .3rem;
    margin-left: 1rem;
}

ion-item {    
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-select{
    margin-top: 1rem;
}

