<body>
  <div class="campos-Cad">
    <div class="superior">
      <h1>Pets</h1>
      <img src="../../../assets/svg/logo.svg" alt="" class="logo">
    </div>

    <ion-item color=var(--pp-preto)>
      <ion-label class="label-campos">Nome</ion-label>
      <ion-input color=light type="text" [(ngModel)]="pet.nome"></ion-input>
    </ion-item>

    <ion-item color=var(--pp-preto)>
      <ion-label class="label-campos">Nascimento</ion-label>
      <ion-input color=light type="text" [(ngModel)]="pet.nascimento"></ion-input>
      <!-- <ion-datetime displayFormat="DD MM YYYY" cancel-text = 'Cancela' done-text = 'OK' class="label-campos" placeholder="Selecione a data"></ion-datetime> -->
    </ion-item>

    <ion-item color=var(--pp-preto)>
      <ion-label class="label-campos">Tipo</ion-label>
      <ion-input color=light type="text" [(ngModel)]="pet.tipo"></ion-input>
      <!-- <ion-select class="label-branco">
        <ion-select-option value="f">Cachorro</ion-select-option>
        <ion-select-option value="m">Gato</ion-select-option>
      </ion-select> -->
    </ion-item>

    <ion-item color=var(--pp-preto)>
      <ion-label class="label-campos">Raça</ion-label>
      <ion-input color=light type="text" [(ngModel)]="pet.raca"></ion-input>
      <!-- <ion-select class="label-branco">
        <ion-select-option value="f">Raça 1</ion-select-option>
        <ion-select-option value="m">Raça 2</ion-select-option>
        <ion-select-option value="m">Raça 3</ion-select-option>
        <ion-select-option value="m">Raça 4</ion-select-option>
        <ion-select-option value="m">Raça 5</ion-select-option>
        <ion-select-option value="m">Raça 6</ion-select-option>
      </ion-select> -->
    </ion-item>

    <ion-item color=var(--pp-preto)>
      <ion-label class="label-campos">Sexo</ion-label>
      <ion-input color=light type="text" [(ngModel)]="pet.sexo"></ion-input>
      <!-- <ion-select class="label-branco">
        <ion-select-option value="f">Macho</ion-select-option>
        <ion-select-option value="m">Fêmea</ion-select-option>
      </ion-select> -->
    </ion-item>
    <div  color=var(--pp-preto)>
      <ion-item color=var(--pp-preto)>
        <ion-label class="label-campos">Habilitar Namoro</ion-label>
        <ion-toggle id="namoro" (ionChange) = 'namoro()'>sim</ion-toggle>
        <!-- <ion-input color=light type='text' [(ngModel)]="pet.namoro"></ion-input> -->
      </ion-item>
    </div>
  </div>

  <div class="logar">
    <ion-button size="large" fill='solid' shape="round" id="bt-logar" mode = 'ios' (click)='cadastrarPet()'>Cadastrar Pet
    </ion-button>
  </div>

</body>