<body>
  <div class="campos-Cad">
    
    <div class="superior">
      <h1>Pets</h1>
      <img src="../../../assets/svg/logo.svg" alt="" class="logo">
    </div>

    <ion-row class = 'campo-com-linha'>
      <ion-col>
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos">Nome</ion-label>
          <ion-input class="iputNome" color=light type="text" [(ngModel)]="pet.nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class = 'campo-com-linha'>
      <ion-col>
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos">Nascimento</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" cancel-text='Cancela' done-text='OK' [(ngModel)]="dataNascimentoPet">
          </ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class = 'campo-com-linha'>
      <ion-col class="Selects">
        <ion-item color=var(--pp-preto)>        
          <ion-label class="label-campos">Tipo</ion-label>
        </ion-item>
        <ion-item color=var(--pp-preto)>
          <ion-select class='label-branco' [(ngModel)]="pet.tipo">
            <ion-select-option value="Cachorro">Cachorro</ion-select-option>
            <ion-select-option value="Gato">Gato</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class = 'campo-com-linha'>
      <ion-col class="Selects">
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos">Raça</ion-label>
        </ion-item>
        <ion-item color=var(--pp-preto)>
          <ion-select class="label-branco" [(ngModel)]="pet.raca">
            <ion-select-option value="Akita">Akita</ion-select-option>
            <ion-select-option value="Beagle">Beagle</ion-select-option>
            <ion-select-option value="Chihuahua">Chihuahua</ion-select-option>
            <ion-select-option value="Dálmata">Dálmata</ion-select-option>
            <ion-select-option value=">Fila Brasileiro">Fila Brasileiro</ion-select-option>
            <ion-select-option value="Lhasa Apso">Lhasa Apso</ion-select-option>
            <ion-select-option value="Maltês">Maltês</ion-select-option>
            <ion-select-option value="Pastor Alemão">Pastor Alemão</ion-select-option>
            <ion-select-option value="Shih Tzu">Shih Tzu</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class = 'campo-com-linha'>
      <ion-col class="Selects">
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos">Sexo</ion-label>
        </ion-item>
        <ion-item color=var(--pp-preto)>
          <ion-select class="label-branco" [(ngModel)]="pet.sexo">
            <ion-select-option value="M">Macho</ion-select-option>
            <ion-select-option value="F">Fêmea</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class = 'campo-com-linha'>
      <ion-col class="Selects">
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos">Sobre</ion-label>
        </ion-item>
        <ion-textarea id="sobre" color=light [(ngModel)]="pet.sobre"></ion-textarea>

      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
          <ion-item color=var(--pp-preto)>
            <ion-label class="label-campos">Habilitar Namoro</ion-label>
            <ion-toggle id="namoro" (ionChange)='ConfiguraNamoro()'>sim</ion-toggle>
          </ion-item>
      </ion-col>
    </ion-row>

    
    <div>
      <ion-button size="large" fill='solid' shape="round" mode='ios' (click)='cadastrarPet()'>Cadastrar
        Pet
      </ion-button>
    </div>

  </div>

</body>