<body>

  <div class="campos-login">
    <div class="superior">
      <h1>Login</h1>
      <img src="../../../assets/svg/logo.svg" alt="" class="logo">
    </div>

    <ion-row>
      <ion-col>
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos" position="floating">Usuário</ion-label>
          <ion-input type = 'text'>
            <img src="../../../assets/svg/user.svg" alt="" class="inputIcons">
          </ion-input>
        </ion-item>
        <ion-item color=var(--pp-preto)>
          <ion-label class="label-campos" position="floating">senha</ion-label>
          <ion-input type='password'>
            <a href="">
              <img src="../../../assets/svg/showpass.svg" alt="" class="inputIcons">
            </a>
          </ion-input>
        </ion-item>
        <a href="">
          <ion-label class="forgetpass">Esqueceu sua senha?</ion-label>
        </a>
      </ion-col>
    </ion-row>
  </div>
  <div class="logar">
    <button class="bt-logar">Login</button>
  </div>

  <div class="footer">
    <ion-row>
      <ion-col>
        <button class="bt-cadastrar">Cadastrar-se</button>
      </ion-col>
    </ion-row>
  </div>

</body>