<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label class="label-g" position="floating">Usuário</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="label-g" position="floating">senha</ion-label>
        <ion-input type='password'></ion-input>
      </ion-item>
      <ion-button class="bt-logar" expand="block" color=var(--pp-bg)>Logar</ion-button>
      <a href="">
        <ion-label color='primary'>Esqueceu sua senha?</ion-label>
      </a>
    </ion-col>
  </ion-row>

  <ion-footer>
    <ion-row>
      <ion-col>
        <ion-button expand="full" class='bt-cadastrar' color=var(--pp-preto)>Cadastrar-se</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>

</ion-content>