<body>
  <div class="campos-Cad">
    <div class="superior">
      <h1>{{_usuarioLogado.nome}}</h1>
      <img src="../../../assets/svg/logo.svg" alt="" class="logo" />
    </div>
    <ion-row>
      <ion-col>
        <ion-toolbar>
          <ion-label color="light"
            >Sua lista de Pets</ion-label
          >
          <ion-buttons slot="end">
            <ion-button id="bt-sair" (click)="sair()">Sair</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>

    <ion-content>
      <ion-list>
        <ion-item detail="true" button *ngFor="let pet of pets">
          <ion-row>
            <ion-col>
              <img class="photoPet" src="../../../assets/photos/c/01.png" />
            </ion-col>
            <ion-col>
              <ion-label>{{ pet.nome }}</ion-label>
              <ion-label>{{ pet.raca }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>



      
      <div *ngIf="pets.length == 0" id="Lista-vazia">

        <ion-label color="light">Primeiro Cadastro!</ion-label>

        <ion-icon color = light name="arrow-forward-outline"></ion-icon>

        <ion-fab-button (click)="cadastrarPrimeiroPet()">          
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-content>
  </div>
</body>
