body {
    background-image: linear-gradient(var(--pp-bg), var(--pp-bg2));
    // background-image: linear-gradient(#ff9298, #FB4672);
    height: 100%;
  }
  
  .campos-Cad {
    background-color: var(--pp-preto);
    border-radius: 40px;
    margin: 0 10px;
    height: 85%;
    margin-top: 30px;
  }
  
  .superior {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  
  h1 {
    color: var(--pp-branco);
    border-bottom: 5px solid var(--pp-azul);
    border-radius: 5px;
    padding-top: 15px;
  }
  
  .logo {
    width: 80px;
  }

  img {
    width: 50px;
  }
  
  .nomePet,
  .DescPet {
    color: var(--pp-branco);
  }
  
  .photoPet {
    width: 150px;
    border: 8px solid var(--pp-bordas);
    border-radius: 50%;
  }

  #barra-botao-filtro {
    margin: -1.5rem, 0rem, -10rem, 0rem;
    margin-top: -1.5rem;
    margin-bottom: -1rem;
  }
  
  #botao-filtro {
    margin:0;
    padding: 0;
    width: 1.7rem;
    height: 1.7rem;
  }

  #img-Busca {
    width: 2rem;
  }
  #bt-busca{
    margin-top: -1.5rem;
    width:  4rem;
    height: 4rem;
    margin-left: calc(50% - 2rem);
    --background: var(--pp-branco);
    text-align: center;
  }

  .img-chat {
    position: absolute;
    margin-left: 80%;
    margin-top: -20%;
  }