<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Filtrar</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row id="margem-top"></ion-row>
  <ion-row>
    <ion-col>Tipo</ion-col>
    <ion-col>
      <ion-select mode = 'ios' cancelText = 'Cancelar' okText = 'OK' [formControl]="tipoInput">
        <ion-select-option value="Cachorro">Cachorro</ion-select-option>
        <ion-select-option value="Gato">Gato</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>Raça</ion-col>
    <ion-col>
      <ion-select mode = 'ios' cancelText = 'Cancelar' okText = 'OK' [formControl]="racaInput">
        <ion-select-option value="Akita">Akita</ion-select-option>
        <ion-select-option value="Beagle">Beagle</ion-select-option>
        <ion-select-option value="Chihuahua">Chihuahua</ion-select-option>
        <ion-select-option value="Dálmata">Dálmata</ion-select-option>
        <ion-select-option value=">Fila Brasileiro">Fila Brasileiro</ion-select-option>
        <ion-select-option value="Lhasa Apso">Lhasa Apso</ion-select-option>
        <ion-select-option value="Maltês">Maltês</ion-select-option>
        <ion-select-option value="Pastor Alemão">Pastor Alemão</ion-select-option>
        <ion-select-option value="Shih Tzu">Shih Tzu</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>Sexo</ion-col>
    <ion-col>
      <ion-select mode = 'ios' cancelText = 'Cancelar' okText = 'OK' [formControl]="sexoInput">
        <ion-select-option value="F">Fêmea</ion-select-option>
        <ion-select-option value="M">Macho</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row id="idades">
    <div id="idade1">Idade</div>
    <div id="idade2">
      <ion-range
        [formControl]="idadeInput"
        min="2"
        max="20"
        step="1"
        snaps
        pin
        color="secondary"
        mode="md"
      >
      </ion-range>
    </div>
  </ion-row>
</ion-content>
