<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Adicionar PET</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/cadastro-usuario">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>